.btn-primary.btn-purple {
    background-color: #85236d !important;
    border-color: #85236d !important;
}
.navbar .nav-link, .dropdown-item {
    color: #606060 !important;
    font-weight: 400;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: 0;
        height: 50vh !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
