{{define "title"}}
    {{.record.title}}
{{end}}


{{define "body"}}
    <section class="py-5 text-center fluid-container bg-light">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{.record.title}}</h1>
            <h4>El Centro de Documentación Virtual del Instituto ILAM <b>-ILAMDOCS-</b> es un servicio de acceso público y totalmente gratuito.</h4>
        </div>
        </div>
    </section>
    <section class="py-5 fluid-container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" style="text-align: justify;">
            <p>{{.record.content_one | raw}}</p>
        </div>
        </div>
    </section>
{{end}}

