{{define "title"}}
    Categoría {{.catExport.title}}
{{end}}


{{define "body"}}
<style>
.btn-outline-secondary, .btn-outline-secondary:hover {
    color: #6a6a6a;
    border-color: #8a8a8a;
    border-width: .1rem;
  }
  .btn-group, .btn-group:hover {
    box-shadow: none;
  }
</style>
<section class="py-5 text-center fluid-container bg-light">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{.catExport.title}}</h1>
        <p class="lead text-muted">{{.catExport.description | raw}}</p>
      </div>
    </div>
</section>
<section>
    <div class="container">
      <div class="row">
        {{range $k, $value := .records}}
        <div class="col-xs-6 col-sm-4 py-3">
          <div class="d-flex">
            <a href="/cat/{{$value.Id}}/" style="color: #85236d;text-decoration: none;" >
              <h3><i class="bi bi-book"></i> {{$value.Title}}</h3>
            </a>
          </div>
        </div>
        {{end}}

      </div>
    </div>
</section>


{{end}}

