{{define "body"}}
<!-- Background image -->
<div id="intro" class="bg-image vh-100 shadow-1-strong">
  <div class="mask" style="
            background: linear-gradient( 45deg, rgba(108, 25, 115, 0.83), rgba(27, 0, 34, 0.82) 100% );height: inherit;
          ">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Te damos la bienvenida a ILAMDOCS</h1>
        <h5 class="mb-4"> El Centro de Documentación Virtual del Instituto ILAM -ILAMDOCS- es un servicio de acceso
          público y totalmente gratuito. </h5>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">


        <div class="col-md-8 mx-auto mb-4">
          <h4 style="color: #85236d;"><strong>¿Qué es ILAMDOCS?</strong></h4>
          <p class="text-muted">
            El Centro de Documentación Virtual sobre Gestión Patrimonial -ILAMDOCS- es un programa del Instituto
            Latinoamericano de Museos (ILAM), que
            busca disponibilizar documentos en español y de manera gratuita, sobre el quehacer de los museos y la
            conservación del patrimonio.
          </p>
          <p><strong>Sé parte</strong></p>
          <p class="text-muted">
            Si eres parte de una institución o un investigador, puedes publicar tus documentos con nosotros.
            Mensualmente damos difusión a través de nuestras redes y medios de los documentos más recientes. Desde
            publicaciones académicas, revistas, libros o guías de colecciones; comparte lo que haces con el resto de
            la comunidad.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Explora nuestras categorías</strong></h4>

      <div class="row d-flex">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/foto-libro-2.png" class="img-fluid" />
              <a href="/cat/565/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">LIBROS / DOCUMENTOS</h5>
              <p class="card-text">Más de 500 libros y artículos descargables están a tu disposición, como resultado
                de un proceso de búsqueda y selección de documentos en línea en español.</p>
              <a href="/cat/565/" class="btn btn-primary btn-purple">Ver categoría</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/foto-revista-4.png" class="img-fluid" />
              <a href="/cat/579/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">REVISTAS / BOLETINES</h5>
              <p class="card-text">Las principales revistas en formato digital, en español, que incluyen temáticas
                relacionadas a la gestión del patrimonio cultural, natural e intangible de Iberoamérica.</p>
              <a href="/cat/579/" class="btn btn-primary btn-purple">Ver categoría</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/foto-guia-1.png" class="img-fluid" />
              <a href="/cat/605/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">CATÁLOGOS Y GUÍAS</h5>
              <p class="card-text">Damos difusión a las guías de museos, sitios y parques de América Latina y el
                Caribe, y a los catálogos de exposiciones publicados en formato digital. </p>
              <a href="/cat/605/" class="btn btn-primary btn-purple">Ver categoría</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/Un-Museo-Sostenible-1.png" class="img-fluid" />
              <a href="/cat/603/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">PUBLICACIONES ILAM</h5>
              <p class="card-text">Conoce las publicaciones y artículos de revistas generados por ILAM, así como las
                ponencias resultado de nuestra participación en eventos académicos. </p>
              <a href="/cat/603/" class="btn btn-primary btn-purple">Ver categoría</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/videos.PNG" class="img-fluid" />
              <a href="/cat/614/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">VIDEOS TÉCNICOS</h5>
              <p class="card-text">Como complemento a la información escrita, te presentamos una selección de videos
                sobre conservación y gestión del patrimonio, resultado de su búsqueda en la web.</p>
              <a href="/cat/614/" class="btn btn-primary btn-purple">Ver categoría</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="/img/ilam-doc-cuenta.jpg" class="img-fluid" />
              <a href="/entrar/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title my-3">MI CUENTA ILAMDOCS</h5>
              <p class="card-text">Esta nueva aplicación, fue creada pensando en vos, para que puedes guardar y
                organizar tus documentos favoritos, realizar tus descargas y modificar tu información de usuario.</p>
              <a href="/entrar/" class="btn btn-primary btn-purple">Ingresar</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>
{{end}}