{{define "title"}}
    Iniciar Sesion
{{end}}


{{define "body"}}
    <section class="py-5 text-center fluid-container bg-light">
        <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                      <div class="card-body">
                        <h1>Ingresar</h1>
                        <p class="text-medium-emphasis">Entrar a mi cuenta</p>
                            <div id="errorDiv" class="alert alert-danger" style="display: none;"></div>
                        <form id="loginForm" method="POST" action="/login-verify/">
                        <div class="input-group mb-3">
                          <input class="form-control" type="text" name="identity" placeholder="Usuario">
                        </div>
                        <div class="input-group mb-4">
                          <input class="form-control" type="password" name="password" placeholder="Contraseña">
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit">Entrar</button>
                          </div>
                          <!--
                          <div class="col-6 text-end">
                            <button class="btn btn-link px-0" type="button">¿Olvidó su contraseña?</button>
                          </div>
                          !-->
                        </div>
                        </form>
                      </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                      <div class="card-body text-center">
                        <div>
                          <h2>Sign up</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
{{end}}

